@keyframes dot-keyframes {
  0% {
    content: '.';
  }
  20% {
    content: '..';
  }
  40% {
    content: '...';
  }
  60% {
    content: '....';
  }
  80% {
    content: '.....';
  }
  100% {
    content: '......';
  }
}

.loading-indicator {
  color: aliceblue;
}
.loading-indicator::after {
  content: '.';
  animation: dot-keyframes 0.75s linear infinite;
}

.loader-div {
  position: absolute;
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  left: 50%;
}

.loading-message {

}
