@keyframes dot-keyframes {
  0% {
    content: '.';
  }
  20% {
    content: '. .';
  }
  40% {
    content: '. . .';
  }
  60% {
    content: '. . . .';
  }
  80% {
    content: '. . . . .';
  }
  100% {
    content: '. . . . . .';
  }
}

.loading-indicator span {
  color: aliceblue;
}
.loading-indicator::after {
  content: '.';
  animation: dot-keyframes 0.45s linear infinite;
}
