.songs-table {
  background-color: rgba(38, 37, 42, 0.65);
}
.table.playlist-footer {
  position: fixed;
  bottom: 0px;
  margin: 0px;
  background-color: rgba(38, 37, 42, 0);
}

.footer-cell {
  display: flex;
}

.tables-div {
  height: 100%;
  margin-bottom: 0px;
}

.table.table-hover.table-dark.songs-table {
  height: 100%;
}
