.songs-table-header {
  background-color: rgba(38, 37, 42, 0);
}

.ui.button.table-header {
  color: aliceblue;
  position: absolute;
  margin-left: -1.6em;
}

.songs-table th.title-header {
  padding-left: -0rem;
}

.header-checkbox-span {
  position: absolute;
  display: inline-block;
}

.empty-header-span {
  margin-left: 1em;
  margin-right: 0.5em;
  width: 0.875em;
}
