.songs-table-header {
  background-color: rgba(34, 36, 38, 0.85);
}

.ui.button.table-header {
  color: aliceblue;
  position: absolute;
  margin-left: -1.6em;
}

.songs-table th.title-header {
  padding-left: 0rem;
}
