html * {
  font-size: 0.98em !important;
  font-family: 'Exo', sans-serif !important;
}
body {
  color: aliceblue;
}

path {
  color: rgba(125, 254, 252, 0.866);
}
svg {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
path:hover {
  color: aliceblue;
}
path:active {
  color: rgba(213, 255, 128, 0.866);
}

#app {
  height: 100%;
}

.container-fluid {
  padding: 0 0 0 0;
  height: 100%;
}

i.icon {
  font-family: Icons !important;
  color: rgba(125, 254, 252, 0.866);
}

.ui.inverted.menu .link.item:hover {
  background-color: rgba(125, 254, 252, 0.2);
}

.ui.header {
  color: aliceblue !important;
}

.ui.button.followButton {
  font-size: 1em !important;
}

.ui.labeled.icon.menu .item {
  line-height: 1.7285em;
}

.ui.compact.table tfoot th {
}

.checkboxSpan {
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.ui.fluid.search .results {
  opacity: 0.95;
  height: auto;
  max-height: 70vh;
  overflow-y: scroll;
}

.ui.search > .results {
  background: none;
}

.messagePortal {
  position: relative !important;
  margin: auto !important;
}
.ui.form .field > label {
  color: aliceblue;
}
.ui.form .field.error > label {
  color: rgb(254, 134, 134);
}
.ui.segment {
  background-color: rgba(92, 90, 105, 0.415);

  border-radius: 0px;
  color: aliceblue;
}

.messageCheckbox {
  z-index: 1000000;
}

.ui.form .field .ui.input input {
  border-radius: 0rem !important;
  background-color: rgba(42, 41, 46, 0.815);
  color: aliceblue;
}

.ui.input.focus > input,
.ui.input > input:focus {
  border: none !important;
  color: aliceblue !important;
}
.ui.input > input {
  border: none;
  color: aliceblue;
}

.ui.segment.messagesTable {
  position: fixed;
  top: 10vh !important;
  margin-top: 1% !important;
  left: 25vw;
}

.ui.thin.left.sidebar.messagesSidebar {
  height: 60vh;
  max-height: 60vh;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
}

.fillerDiv {
  background-color: rgba(0, 0, 0, 1);
  height: 10vh;
}
.ui.search > .results .result .image.searchImage {
  float: left;
  width: 35px;
  height: auto;
  border-radius: 500rem;
}

.ui.fluid.search .results {
  height: 70vh;
  overflow: auto;
}

.ui.modal.profileModal {
  margin: auto;
}
.ui.button.playlistButton {
  padding-right: 1cm !important;
  width: 100% !important;
  color: white !important;
  opacity: 0.8;
}

.ui.button {
  background-color: rgba(0, 0, 0, 0);
  color: #7dfefce0;
  padding-top: 1em;
}

.ui.button:focus {
  background-color: rgba(125, 254, 252, 0.13);
  color: aliceblue;
}
.ui.button:active {
  background-color: #7dff7d48 !important;
  color: aliceblue;
}

.ui.button:hover {
  background-color: rgba(125, 254, 252, 0.2);
  color: aliceblue;
  transition: all 0.1s;
}

.ui.inverted.blue.button:hover {
  background-color: rgba(125, 254, 252, 0.2);
  color: aliceblue;
}

.ui.inverted.blue.button,
.ui.inverted.blue.buttons .button {
  color: #7dfefce0;
  box-shadow: 0 0 0 0px !important;
  -webkit-box-shadow: none;
}

.ui.inverted.blue.button:focus {
  background-color: rgba(125, 254, 252, 0.13);
}

a {
  color: rgba(125, 254, 252, 0.866);
}

#pButton {
  border: none;

  background-position: center;
  margin: 0;
  padding: 0;
  height: 100% !important;
  width: 100% !important;
}

.ui.progress .bar {
  height: 80% !important;
}
.progress {
  margin: 0 !important;

  height: 80% !important;
}

.primaryContainer {
  margin: 0 !important;
}

.ui.grid {
  margin-top: 0em !important;
  margin-bottom: 0em !important;
}

.sideBarLoader {
  padding-top: 20% !important;

  padding-bottom: 20% !important;
}

.stickyTop {
  top: 0 !important;
  background: rgba(0, 0, 0, 0.3) !important;
  z-index: 100;
}
.stickyBottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5) !important;
}

.ui.inverted.table.t1 {
  margin: 0 !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
.ui.inverted.menu .item:before {
  background: transparent;
}
.table-dark {
  background-color: rgba(0, 0, 0, 0.146);

  border: none;
  margin-bottom: 0px;
}

.table-dark td,
.table-dark th,
.table-dark thead th {
  border: none;
}

.table-dark tr {
  display: block;
}

.ui.rating .active.icon {
}

.ui.labeled.icon.button.button2 {
  width: 100%;
  right: 0%;
  height: 100%;
  padding-left: 0px;
  box-shadow: none;
}

.ui.labeled.icon.menu .item .sideBarItem {
  width: 100%;
  padding: 0;
  font-size: 0.5rem;
  box-shadow: none;
  border: none;
}

.ui.inverted.menu .item.sideBarItem {
  width: 100%;
  padding: 0;
  font-size: 0.5rem;
  border: none;
  box-shadow: none;
}

.ui.labeled.icon.menu .item > .icon:not(.dropdown).button2 {
  margin: 0 !important;
  height: auto;
}

.ui.floating.dropdown .menu {
  z-index: 1000000 !important;
}

.ui.dropdown.dropOverlay {
  position: absolute;
  font-size: 0.9rem;
  float: left;
  left: 1%;
  top: 20%;

  z-index: 100;
}

.ui.modal.uploadModal {
  vertical-align: middle !important;
  position: relative;
  margin: auto !important;
  margin-top: 0vh !important;
}

.button {
  border-radius: 0 !important;
  border-style: hidden !important;
  border-width: 0px !important;
}

.ui.menu .sideItems {
  padding: 0em !important;
}
.ui.labeled.icon.menu .item {
}

.ui.icon.button.trashcan {
  position: fixed !important;
  float: right;
  z-index: 10000 !important;
  right: 0%;
}

.pushable > .pusher.pusherContainer {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 !important;
  width: 100%;
}

.ui.inverted.blue.button.sidebarButton {
  position: fixed;
  z-index: 123421;
  border: none;
  box-shadow: none;
}

.ui.thin.left.sidebar,
.ui.thin.right.sidebar {
  width: 13vw !important;
}

.ui.visible.thin.left.sidebar ~ .pusher {
  -webkit-transform: translate3d(15vw, 0, 0);
  transform: translate3d(15vw, 0, 0);
  transition: transform 1s;
}

.ui.visible.thin.left.sidebar ~ .pusher {
  width: 87% !important;
  transform: scale(85%, 100%) !important;
  overflow: auto !important;
  transition: width 0.5s, transform 0.5s;
}

.ui.visible.left.sidebar ~ .pusher {
  transform: translate3d(13vw, 0, 0) !important;
}

.ui.thin.left.sidebar ~ .pusher {
  width: 100%;
  transition: width 0.5s, transform 0.5s;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 4s linear;
  height: 20px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding: 0px 5px;
}

.ui.icon.input > i.icon {
  opacity: 0.99;
}
