html * {
  font-size: 0.98em !important;
  font-family: 'Exo', sans-serif !important;
}
body {
  color: aliceblue;
}

#app {
  height: 100%;
}

.container-fluid {
  padding: 0 0 0 0;
  height: 100%;
}

i.icon {
  font-family: Icons !important;
  color: rgba(125, 254, 252, 0.866);
}

.ui.header {
  color: aliceblue !important;
}

.ui.button.followButton {
  font-size: 1em !important;
}

.ui.category.search .results.animating,
.ui.category.search .results.visible {
  background-color: rgba(114, 63, 63, 0.557);
  border: none;
}

.ui.category.search > .results .category {
  background-color: rgba(250, 250, 250, 0);
}

.ui.labeled.icon.menu .item {
  line-height: 1.7285em;
}

.ui.compact.table tfoot th {
}

.checkboxSpan {
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.ui.fluid.search .results {
  opacity: 0.95;
}

.messagePortal {
  position: relative !important;
  margin: auto !important;
}
.ui.form .field > label {
  color: aliceblue;
}
.ui.form .field.error > label {
  color: rgb(254, 134, 134);
}
.ui.segment {
  background-color: rgba(160, 160, 160, 0.468) !important;
  border-radius: 0px;
  color: aliceblue;
}

.messageCheckbox {
  z-index: 1000000;
}

.ui.form .field .ui.input input {
  border-radius: 0rem !important;
  background-color: rgba(69, 69, 69, 0.4);
  color: aliceblue;
}

.ui.segment.messagesTable {
  position: fixed;
  top: 10vh !important;
  margin-top: 1% !important;
  left: 25vw;
}

.ui.thin.left.sidebar.messagesSidebar {
  height: 60vh;
  max-height: 60vh;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
}

.fillerDiv {
  background-color: rgba(0, 0, 0, 1);
  height: 10vh;
}
.ui.search > .results .result .image.searchImage {
  float: left;
  width: 35px;
  height: auto;
  border-radius: 500rem;
}

.ui.fluid.search .results {
  height: 70vh;
  overflow: auto;
}

.prompt {
  border-radius: 2px !important;
  opacity: 0.8;
}

.ui.modal.profileModal {
  margin: auto;
}
.ui.button.playlistButton {
  padding-right: 1cm !important;
  width: 100% !important;
  color: white !important;
  opacity: 0.8;
}

.ui.button {
  background-color: rgba(125, 254, 252, 0.886);
  color: rgba(0, 0, 0, 0.8);
}

.ui.inverted.blue.button:hover {
  background-color: rgba(125, 254, 252, 0.2);
  color: aliceblue;
}

.ui.inverted.blue.button,
.ui.inverted.blue.buttons .button {
  color: rgba(125, 254, 252, 0.879);
  box-shadow: 0 0 0 0px !important;
  -webkit-box-shadow: none;
}

a {
  color: rgba(125, 254, 252, 0.866);
}

#pButton {
  border: none;

  background-position: center;
  margin: 0;
  padding: 0;
  height: 100% !important;
  width: 100% !important;
}

.ui.progress .bar {
  height: 80% !important;
}
.progress {
  margin: 0 !important;

  height: 80% !important;
}

.primaryContainer {
  margin: 0 !important;
}

.ui.grid {
  margin-top: 0em !important;
  margin-bottom: 0em !important;
}

.sideBarLoader {
  padding-top: 20% !important;

  padding-bottom: 20% !important;
}

.stickyTop {
  top: 0 !important;
  background: rgba(0, 0, 0, 0.3) !important;
  z-index: 100;
}
.stickyBottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5) !important;
}

.ui.inverted.menu {
  background-color: rgba(0, 0, 0, 0.146);
}

.ui.inverted.table.t1 {
  margin: 0 !important;
  color: rgba(255, 255, 255, 0.8) !important;
}
.ui.inverted.menu .item:before {
  background: transparent;
}
.table-dark {
  background-color: rgba(0, 0, 0, 0.146);
  border: none;
}

.table-dark td,
.table-dark th,
.table-dark thead th {
  border: none;
}

.ui.rating .active.icon {
}

.ui.labeled.icon.button.button2 {
  width: 100%;
  right: 0%;
  height: 100%;
  padding-left: 0px;
  box-shadow: none;
}

.ui.labeled.icon.menu .item .sideBarItem {
  width: 100%;
  padding: 0;
  font-size: 0.5rem;
  box-shadow: none;
  border: none;
}

.ui.inverted.menu .item.sideBarItem {
  width: 100%;
  padding: 0;
  font-size: 0.5rem;
  border: none;
  box-shadow: none;
}

.ui.labeled.icon.menu .item > .icon:not(.dropdown).button2 {
  margin: 0 !important;
  height: auto;
}

.ui.floating.dropdown .menu {
  z-index: 1000000 !important;
}

.ui.dropdown.dropOverlay {
  position: absolute;
  font-size: 0.9rem;
  float: left;
  left: 1%;
  top: 20%;

  z-index: 100;
}

.ui.modal.uploadModal {
  vertical-align: middle !important;
  position: relative;
  margin: auto !important;
  margin-top: 0vh !important;
}

.button {
  border-radius: 0 !important;
  border-style: hidden !important;
  border-width: 0px !important;
}

.ui.menu .sideItems {
  padding: 0em !important;
}
.ui.labeled.icon.menu .item {
}

.ui.icon.button.trashcan {
  position: fixed !important;
  float: right;
  z-index: 10000 !important;
  right: 0%;
}

.pushable > .pusher.pusherContainer {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 !important;
  width: 100%;
}

.ui.inverted.blue.button.sidebarButton {
  position: fixed;
  z-index: 123421;
  border: none;
  box-shadow: none;
}

.ui.thin.left.sidebar,
.ui.thin.right.sidebar {
  width: 13vw !important;
}

.ui.visible.thin.left.sidebar ~ .pusher {
  -webkit-transform: translate3d(15vw, 0, 0);
  transform: translate3d(15vw, 0, 0);
  transition: transform 1s;
}

.ui.visible.thin.left.sidebar ~ .pusher {
  width: 87% !important;
  transform: scale(85%, 100%) !important;
  overflow: auto !important;
  transition: width 0.5s, transform 0.5s;
}

.ui.visible.left.sidebar ~ .pusher {
  transform: translate3d(13vw, 0, 0) !important;
}

.ui.thin.left.sidebar ~ .pusher {
  width: 100%;
  transition: width 0.5s, transform 0.5s;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 4s linear;
  height: 20px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
