.playlistTab {
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
    padding-right: 0px !important;
}

.playlistTab:hover {
    background-color: rgba(200, 200, 200, 0.164) !important;
}