.ui.menu.topBar {
  z-index: 1000000;
  width: 100vw;
  height: 4.5%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color: rgba(38, 37, 42, 0.65);
}

.ui.inverted.menu .item.search-bar:hover {
  background-color: rgba(0, 0, 0, 0);
}
