tr.d-flex.playing-song-row {
  background-color: rgba(86, 227, 251, 0.055);
}

.songs-table th,
.songs-table td {
  padding: 0.6rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  height: 4vh;
  max-height: 4vh;
}

.play-icon-span {
  padding-left: 0.5vw;
}

.checkbox-span {
  padding-right: 0.5vw;
}

td.title-cell {
  padding-left: 0rem;
}

th.checkbox-cell {
  padding: 0.6rem 0rem;
  justify-content: center;
}

.checkbox {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  top: 0.1em;
  height: 1em;
  width: 1em;
  background-color: rgba(2, 255, 255, 0.246);
}

.checkbox:hover {
  background-color: rgba(2, 255, 255, 0.781);
}

input[type='checkbox']:checked {
  background-color: rgb(90, 253, 68) !important;
}

svg.svg-inline--fa.fa-pause > path {
  color: rgb(90, 253, 68) !important;
}
