.ui.segment.portal {
    z-index: 19999;
    position: fixed;
    top: 15vw;
    background-color: rgba(3,34,41, 0.738);
    display: flex;
    padding: 1em;
}

.portal.closed {
    display: none;
}

.ui.segment.portal.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dimmer { 
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.dimmer.dimmed {
    background-color: rgba(0,0,0, 0.3);
}
